@use '../../styles/partials/globals' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.about {
    margin: 1rem;

    @include tablet {
        margin: 3rem;
    }

    &__content {
        background-color: rgba(255,255,255,0.1);
        backdrop-filter: blur(0.5rem);
    }

    &__top-bar {
        display: flex;
        align-items:center;
        justify-content: space-around;
    }
    &__logo {
        width: 18rem;
        margin:0;
    }
    &__logo-link {
        width: auto;
        margin: 0;
    }
    &__penguin {
        width: 20%;
    }
    &__title {
        text-align: center;

        @include tablet {
            font-size: 3rem;
        }
    }
    &__header {
        font-size: 1.5rem;
        text-align: center;
        &--small {
            font-size: 1rem;
        }
        @include tablet {
            font-size: 2rem;
        }

    }
    &__text {
        font-size: 1rem;
        &--small {
            font-size: .75rem;
        }
        @include tablet {
            font-size: 1.5rem;
            &--small {
                font-size: 1rem;
            }
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        padding: 1rem 1rem;
        margin: 1rem;
        border: 0;
        text-decoration: none;
        border-radius: 1rem;
        background-color: rgba(255,255,255,0.1);
        border: 1px solid rgba(255, 255, 0, 0.8);
        backdrop-filter: blur(0.5rem);
        color:teal;
        font-size: 1rem;
        letter-spacing: 2px;
        cursor: pointer;
        text-transform: uppercase;

        @include tablet {
            width: 10rem;
        }

        @include desktop {
            font-size: 1.5rem;
            padding: 1.5rem 4rem;
        }
      }

    &__link:hover {
        background-position: right center;
        background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
        color: rgba(255,255,255,0.8);
      }
}