@use '../../styles/partials/globals' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.homepage {

    &__content {
        margin: 1rem;

        @include tablet {
            display: flex;
            justify-content: space-around;
            margin: 2rem;
        }
        @include desktop {
            margin: 3rem;
        }
    }

    &__logo {
        width: 15rem;
        height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @include tablet {
            margin-left: 0;
            margin-right: 0;
        }

        @include desktop {
            width: 20rem;
        }
    }
    &__title {
        text-align: center;
    }

    &__link-container{
        display: flex;
        flex-direction: column;
        
        @include tablet {
            margin-right: 3rem;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        padding: 1.5rem 2rem;
        margin: 1rem;
        border: 0;
        text-decoration: none;
        border-radius: 1rem;
        background-color: rgba(255,255,255,0.1);
        border: 1px solid rgba(255,255,255,0.2);
        backdrop-filter: blur(0.5rem);
        color:teal;
        font-size: 1rem;
        letter-spacing: 2px;
        cursor: pointer;
        text-transform: uppercase;

        @include desktop {
            font-size: 1.5rem;
            padding: 1.5rem 4rem;
        }
        &:hover {
            background-position: right center;
            background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
            color: rgba(255,255,255,0.8);
          }

        &--coming-soon {
            
            &:hover {
                background-image: url('../../assets/images/ComingSoon.png');
                background-repeat: no-repeat;
                background-size:25rem;
                }
        }
        
      }

    &__penguin {
        width: 10rem;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @include tablet {
            width: 15rem;
            margin-top:2rem;
        }

        @include desktop {
            width: 20rem;
            margin-top: 8rem;
        }
    }


}